body {
	width: 400px;
}

textarea {
	width: 360px;
}

#out_rsa {
	height: 200;
}

#key_rsa {
	height: 100;
}

#alert {
	width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: none;
}